<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-nav-top">
      <div class="container-fluid">
        <div class="navbar-header ml-auto">
            <a class="navbar-brand" href="index.html">
              <img class="menu-logo" src="./img/logo/wojo2.jpg">
            </a>
            <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedAdmin">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedAdmin">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #DB685F;" href="#!/profile" ng-show="model.loggedAdmin">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <br><br> -->
<!-- /Navigation -->



<div class="container container-top-125">
	<h1>Admin Page</h1>
	<br>
	<div class="row">
		<div style="text-align: center;">
			<a href="" ng-click="model.getAllUsers()" class="btn btn-warning">Users..</a>
			<a href="" ng-click="model.getAllEvents()" class="btn btn-primary">Events..</a>
			<a href="" ng-click="model.getAllFeedbacks()" class="btn btn-warning">Feedbacks..</a>
		</div>
	</div>
</div>

<br>
<br>

<!-- All Users -->
<div ng-show="model.users" >
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<input type="text" class="form-control" name="searchByEmail" ng-model="search.email"
				placeholder="Search by Email">
		</div>
		<div class="col-md-3">
			<label class="pull-right">Filter by user type</label>
		</div>
		<div class="col-md-3">
			<select class="form-control" ng-options="role.id as role.name for role in model.roles" ng-model="search.roles.id"></select>
		</div>
		<div class="col-md-1"></div>
	</div>

	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<!-- <th>Name</th> -->
				<!-- <th>ID</th> -->
				<th>Email</th>
				<th>Has roles</th>
				<th>Add role</th>

				<th>Change user type</th>
				<!-- <th>Maker events</th>
				<th>User Registered events</th> -->
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="user in filteredUsers = (model.users | filter:search)">
				<!-- <td>{{user.name.firstName}} {{user.name.middleName}} {{user.name.lastName}}</td> -->
				<!-- <td>{{user.id}}</td> -->
				<td>{{user.email}}</td>
				<!-- <td>{{user.roleId}}</td> -->
				<td>
					<ul ng-repeat="authRole in user.roles">
						<li>{{authRole.name}}</li>
					</ul>
				</td>
				<td>
					<!-- <select id="role" ng-model="user.roleId" ng-options="role.id as role.role for role in model.roles"> -->
					<select id="role" ng-model="user.newRole" ng-options="role as role.name for role in model.roles"></select>
				</td>
				
				<td>
					<!-- add role ro user -->
					<button class="btn btn-danger" ng-click="model.addAuthRole(user)">Confirm</button>
				</td>
				<!-- <td>
					<ul ng-repeat="event in user.events">
						<li>{{event.name}}</li>
					</ul>
				</td>
				<td>
					<ul ng-repeat="rEvent in user.registeredEventsList">
						<li>{{rEvent.name}}</li>
					</ul>
				</td> -->
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Users -->


<!-- All Events -->
<div ng-show="model.events" >
	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Maker Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Approved</th>
				<th>Special</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="event in model.events">
				<td>{{event.name}}</td>
				<td>{{event.category.category}}</td>
				<td>{{event.maker.organizationName}}</td>
				<td>{{event.startingDate | date}}</td>
				<td>{{event.expiryDate | date}}</td>
				<td><input ng-model="event.approved" type="checkbox" name="approved"></td>
				<td> <input ng-model="event.special" type="checkbox" name="special"></td>
				<td> <a class="btn btn-primary" href="" ng-click="model.updateEventByAdmin(event)">Update</a> </td>
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Events -->


<!-- All Feedbacks -->
<div ng-show="model.feedbacks" >
	<table class="table table-responsive-sm table-hover">
		<thead class="table-primary">
			<tr>
				<th>Name</th>
				<th>Event</th>
				<th>Date</th>
				<th>Feedback</th>
				<th>Approved?</th>
				<th>Confirm</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="feedback in model.feedbacks">
				<td>{{feedback.userName}}</td>
				<td>{{feedback.eventName}}</td>
				<td>{{feedback.date | date}}</td>
				<td>{{feedback.feedback}}</td>
				<td>
					<input type="checkbox" name="approvedFeedback" ng-model="feedback.approved">
				</td>
				<td>
					<a class="btn btn-primary" href="" ng-click="model.updateFeedbackByAdmin(feedback)">Update</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- / All Users -->
