<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-nav-top">
      <div class="container-fluid">
        <div class="navbar-header ml-auto">
            <a class="navbar-brand" href="index.html">
              <img class="menu-logo" src="./img/logo/wojo2.jpg">
            </a>
            <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #DB685F;" href="#!/login" ng-show="!model.loggedUser">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedUser">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/profile" ng-show="model.loggedUser">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <br><br> -->
<!-- /Navigation -->



<div class="container container-top-125">
	<div class="jumbotron" >
	  <h3 class="display-3">Forget Password</h3>
	  <hr class="my-4">
	  
	  <!-- <div nd-show="model.error" class="text-danger" ng-cloak>{{model.error}}</div>
	  <div nd-show="model.msg" class="text-danger" ng-cloak>{{model.msg}}</div>
	   -->
	  <form>
	  	<fieldset>
			  <div class="form-group">
		      	<label for="email">Email address</label>
		      	<input type="email" 
		      			class="form-control" 
		      			id="email" 
		      			aria-describedby="emailHelp" 
		      			placeholder="Enter email" 
		      			ng-model="model.userEmail">
		      	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	    	  </div>
	  		<button type="submit" class="btn btn-success" ng-click="model.forgetPassword(model.userEmail)"  ng-disabled="!model.userEmail">Reset Password</button>
    </form>
    
    <div class="waitingCircle" ng-if="model.loadingData">
      <!-- <img src="../../img/lg.dual-gear-loading-icon.gif"> -->
    </div>

      <!-- Modal -->
      <div class="modal fade" id="forgetPassword" tabindex="-1" role="dialog" aria-labelledby="forgetPasswordModalLabel" data-show="true" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forgetPasswordModalLabel">{{model.msgTitle}}</h5>
              <!-- <h5 class="modal-title" id="forgetPasswordModalLabel" ng-show="model.error">Email error</h5> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{model.msg}}</p>
              <!-- <p ng-show="model.error">{{model.error}}</p> -->

              <!-- Please check your mailbox, an email has been sent, follow the instructios there. -->
            </div>
            <div class="modal-footer">
              <a class="btn btn-success" href="#!/" onclick="$('#forgetPassword').modal('hide')">OK</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
	</div>
</div>
