
<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-nav-top">
      <div class="container-fluid">
        <div class="navbar-header ml-auto">
            <a class="navbar-brand" href="index.html">
              <img class="menu-logo" src="./img/logo/wojo2.jpg">
            </a>
            <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.organizerProfile">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.organizerProfile">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #DB685F;" href="#!/profile" ng-show="model.organizerProfile">Profile</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
            <form class="form-inline my-2 my-lg-0" ng-show="model.allRoles.roles.length>1">
              <a class="btn btn-outline-success my-2 my-sm-0" href="#!/login">Switch profile</a>
            </form>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- <br><br> -->
<!-- /Navigation -->


<div class="container container-top-125">
  <div>
    <h3 class="text-danger">Organizer Profile:</h3>
    <hr>
    <!-- {{model.organizerProfile}} -->
		<h5>Name: {{model.organizerProfile.contact.name}}</h5>
		<h5>Email: {{model.organizerProfile.email}}</h5>
    <div ng-repeat="phone in model.organizerProfile.contact.phones">
      <h5>{{phone.type}}: {{phone.number}}</h5>
    </div>
    <!-- <h5>Phone 1: {{model.organizerProfile.contact.phone1}}</h5>
    <h5>Phone 2: {{model.organizerProfile.contact.phone2}}</h5>
    
    <h5>Emergency Phone number: {{model.organizerProfile.maker.contact.emergency}}</h5> -->
    <!-- <h5>Notes: {{model.organizerProfile.notes}}</h5> -->
    
	</div>
	<br>
	<div>
		<hr>
		<!-- <a class="btn btn-primary" href="#!/organizerProfile/eventsList">Events List</a> -->
		<a class="btn btn-primary" href="#!/organizerProfile/newEvent">New Event</a>
		<a class="btn btn-primary" href="#!/organizerProfile/editEvent">Edit Event</a>
		<a class="btn btn-primary" href="#!/organizerProfile/eventsList">Events List</a>
    <a href="#!/updateOrganizerProfile" class="btn btn-warning">Update profile</a>
	</div>
	<br>
	<h4>Events:</h4>
	<hr>
	<div class="container">
		<div class="row">
			<div class="card border-success col-xl-4 aws-margin10" ng-repeat='event in model.eventsList' style="max-width: 20rem;">
			  <div class="card-header text-danger"><h3>{{event.name}}</h3></div>
			  <div class="card-body">
			    <h5 class="card-title">Category: {{event.category.category}}</h5>
			    <h5 class="card-title">Sub-Category: {{event.subCategory.subcategory}}</h5>
			    <p class="card-text">Details: {{event.details}}</p>
			    <!-- <a href="" ng-click="model.removeRegisteredEvent(model.memberProfile._id, event._id)" class=" btn btn-default pull-right">Remove...</a> -->
			  </div>
			</div>
		</div>
	</div>
</div>