<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-nav-top">
      <div class="container-fluid">
        <div class="navbar-header ml-auto">
            <a class="navbar-brand" href="index.html">
              <img class="menu-logo" src="./img/logo/wojo2.jpg">
            </a>
            <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #DB685F;" href="#!/login" ng-show="!model.loggedUser">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedUser">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/profile" ng-show="model.loggedUser">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <br><br> -->
<!-- /Navigation -->


<div class="container container-top-125">
	<div class="jumbotron" >
	  <h1 class="display-3 poiret-font"><strong>Your journey starts here...</strong></h1>
	  <hr class="my-4">
		<form>
		  <div nd-show="model.error" class="text-danger">{{model.error}}</div>
		  <div class="form-row">
		    <div class="form-group col-md-12">
		      <label for="email">Email</label>
		      <input type="email" class="form-control" id="email" placeholder="Email" ng-model="model.user.email">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="password">Password</label>
		      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="model.user.password">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="confirmPassword">Confirm Password</label>
		      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="model.password2">
		    </div>
		    
		  </div>

		  <!-- <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="firstName">First Name</label>
			      <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="model.user.firstName">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="middleName">Middle Name</label>
			      <input type="text" class="form-control" id="middleName" placeholder="Middle Name" ng-model="model.user.middleName">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="lastName">Last Name</label>
			      <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="model.user.lastName">
			    </div>
		  </div> -->

		  <!-- <div class="form-row">
			    <div class="form-group col-md-12">
			      <label for="fatherPhone">Contact phone:</label>
			      <input type="text" id="phone" class="form-control" placeholder="phone number including international code: 009627********" ng-model="model.user.contact.phone">
			    </div>
		  </div>
 -->
		  <!-- <div class="form-row"> -->
			    <!-- <div class="form-group col-md-4">
			      <label for="gender">Gender</label>
			      <select id="gender" class="form-control" ng-model="model.user.gender">
			        <option>Male</option>
			        <option>Female</option>
      			  </select>
			    </div> -->
			    <!-- <div class="form-group col-md-4">
			      <label for="DOB">Date of birth</label>
			      <input type="date" class="form-control" id="DOB" placeholder="Date of birth" ng-model="model.user.DOB">
			    </div> -->
			    <!-- <div class="form-group col-md-4">
			      <label for="grade">Grade</label>
			      <select id="grade" class="form-control" ng-model="model.user.grade">
			        <option>KG1</option>
			        <option>KG2</option>
			        <option>1</option>
			        <option>2</option>
			        <option>3</option>
			        <option>4</option>
			        <option>5</option>
			        <option>6</option>
			        <option>7</option>
			        <option>8</option>
			        <option>9</option>
			        <option>10</option>
			        <option>11</option>
			        <option>12</option>
      			  </select>
			    </div>
			    <div class="form-group col-md-12">
			      <label for="school">School</label>
			      <input type="text" class="form-control" id="school" placeholder="School name..." ng-model="model.user.school">
		    	</div> -->
		  <!-- </div> -->

		  <!-- <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="medicalIssue">Any medical issues?</label>
			      <select id="medicalIssue" class="form-control" ng-model="model.user.medical.medicalIssues">
			        <option>Yes</option>
			        <option>No</option>
      			  </select>
			    </div>
			    <div class="form-group col-md-8">
			      <label for="problemDetails">If yes please fill the details:</label>
			      <input type="text" class="form-control" id="problemDetails" placeholder="Medical issue details..." ng-model="model.user.medical.problemDetails">
			    </div>
		  </div>

		  <div class="form-row">
			  <div class="form-group col-md-12">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" placeholder="Address" ng-model="model.user.address">
			  </div>
		  </div>

		  <hr class="my-4">

		  <div class="form-row">
		  	<div class="form-group col-md-12">
		  		<label><h3>Contact details:</h3></label>
		  	</div>
		  </div>

		  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="fatherName">Father Name</label>
			      <input type="text" id="fatherName" class="form-control" placeholder="Father Name" ng-model="model.user.contact.father.name">
			    </div>

			    <div class="form-group col-md-6">
			      <label for="fatherPhone">Father phone number</label>
			      <input type="text" id="fatherPhone" class="form-control" placeholder="Father phone number" ng-model="model.user.contact.father.phone">
			    </div>
		  </div>

			<div class="form-row">
				<div class="form-group col-md-6">
				<label for="motherName">Mother Name</label>
				<input type="text" id="motherName" class="form-control" placeholder="Mother Name" ng-model="model.user.contact.mother.name">
			</div>

			<div class="form-group col-md-6">
				<label for="motherPhone">Mother phone number</label>
				<input type="text" id="motherPhone" class="form-control" placeholder="Mother phone number" ng-model="model.user.contact.mother.phone">
			</div>
		  </div>

		  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="emergencyName">Emergency Name</label>
			      <input type="text" id="emergencyName" class="form-control" placeholder="Emergency Name" ng-model="model.user.contact.emergency.name">
			    </div>

			    <div class="form-group col-md-6">
			      <label for="emergencyPhone">Emergency phone number</label>
			      <input type="text" id="emergencyPhone" class="form-control" placeholder="Emergency phone number" ng-model="model.user.contact.emergency.phone">
			    </div>
		  </div>

		  <hr class="my-4">

  		  <div class="form-row">
			  <div class="form-group col-md-12">
				<label for="notes">Notes:</label>
				<input type="text" class="form-control" id="notes" placeholder="Notes..." ng-model="model.user.notes">
			  </div>
		  </div> -->


			  
		  <button type="submit" class="btn btn-success" ng-click="model.register(model.user, model.password2)">Register</button>
	  	<a class="btn btn-danger" href="#!/" role="button">Cancel</a>
		</form>
	</div>
</div>
