

<!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-nav-top">
      <div class="container-fluid">
        <div class="navbar-header ml-auto">
            <a class="navbar-brand" href="index.html">
              <img class="menu-logo" src="./img/logo/wojo2.jpg">
            </a>
            <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#!/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/allEvents">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/login" ng-show="!model.loggedOrganizer">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" ng-click="model.logout()" ng-show="model.loggedOrganizer">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #DB685F;" href="#!/profile" ng-show="model.loggedOrganizer">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/contact">Contact</a>
						</li>      
						<form class="form-inline my-2 my-lg-0" ng-show="model.loggedOrganizer.roles.length>1">
							<a class="btn btn-outline-success my-2 my-sm-0" href="#!/login">Switch profile</a>
						</form>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <br><br> -->
<!-- /Navigation -->



<!--  -->

<div class="container container-top-125">
	<div class="jumbotron" >
	  <h1 class="display-3">Update profile:</h1>
	  <hr class="my-4">
		<form>
			<div nd-show="model.error" class="text-danger">{{model.error}}</div>

		  <!-- <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="firstName">First Name</label>
			      <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="model.makerProfile.maker.firstName">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="middleName">Middle Name</label>
			      <input type="text" class="form-control" id="middleName" placeholder="Middle Name" ng-model="model.makerProfile.maker.middleName">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="lastName">Last Name</label>
			      <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="model.makerProfile.maker.lastName">
			    </div>
			</div> -->
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="middleName">Organization Name</label>
					<input type="text" class="form-control" id="organizationName" placeholder="Organization Name"
						ng-model="model.makerProfile.contact.name">
				</div>
			</div>

		  <!-- <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="gender">Gender</label>
			      <select id="gender" class="form-control" ng-model="model.makerProfile.gender">
			        <option>Male</option>
			        <option>Female</option>
      			  </select>
			    </div>
			    <div class="form-group col-md-4">
			      <label for="DOB">Date of birth</label>
			      <input type="date" class="form-control" id="DOB" placeholder="Date of birth" ng-model="model.makerProfile.DOB">
			    </div>
		  </div> -->

		  <div class="form-row">
			  <div class="form-group col-md-12">
				<label for="address">Address</label>
				<!-- <input type="text" class="form-control" id="address" placeholder="Address" ng-model="model.makerProfile.address"> -->
				<br>
				Country: <input type="text" class="form-control" id="addressCountry" placeholder="Country"
					ng-model="model.makerProfile.maker.address.country">
				Province: <input type="text" class="form-control" id="addressProvince" placeholder="Province"
					ng-model="model.makerProfile.maker.address.province">
				City: <input type="text" class="form-control" id="addressCity" placeholder="City"
					ng-model="model.makerProfile.maker.address.city">
				Street: <input type="text" class="form-control" id="addressStreet" placeholder="Street"
					ng-model="model.makerProfile.maker.address.street">
				Building number: <input type="text" class="form-control" id="addressBuilding" placeholder="Building"
					ng-model="model.makerProfile.maker.address.building">
			  </div>
		  </div>

		  <hr class="my-4">

		  <div class="form-row">
		  	<div class="form-group col-md-12">
		  		<label><h3>Contact details:</h3></label>
		  	</div>
		  </div>

			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Phone Type</label>
				</div>
				<div class="form-group col-md-8">
					<label>Phone Number</label>
				</div>
			</div>
			
			<div class="form-row" ng-repeat="type in model.phoneTypes">
				<div class="form-group col-md-4">
					<select id="phoneType" class="form-control" ng-model="model.makerProfile.contact.phones[$index].type"
						ng-options="phoneType for phoneType in model.phoneTypes"></select>
				</div>
				<div class="form-group col-md-8">
					<input type="text" id="{{type}}" class="form-control" placeholder="{{type}} number"
						ng-model="model.makerProfile.contact.phones[$index].number">
				</div>
			</div>
			

		  <!-- <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="phone1">Phone 1</label>
			      <input type="text" id="phone1" class="form-control" placeholder="Phone 1" ng-model="model.makerProfile.maker.contact.phone1">
			    </div>

			    <div class="form-group col-md-6">
			      <label for="phone2">Phone 2</label>
			      <input type="text" id="phone2" class="form-control" placeholder="Phone 2" ng-model="model.makerProfile.maker.contact.phone2">
			    </div>
		  </div>

		  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="emergencyPhone">Emergency phone number</label>
			      <input type="text" id="emergencyPhone" class="form-control" placeholder="Emergency phone number" ng-model="model.makerProfile.maker.contact.emergency">
			    </div>
		  </div> -->

		  <hr class="my-4">

  		<!-- <div class="form-row">
			  <div class="form-group col-md-12">
				<label for="notes">Notes:</label>
				<input type="text" class="form-control" id="notes" placeholder="Notes..." ng-model="model.makerProfile.notes">
			  </div>
		  </div> -->


			  
		  <button type="submit" class="btn btn-success" ng-click="model.updateOrganizerProfile(model.makerProfile)">Update profile</button>
	  	  <a class="btn btn-danger" href="#!/" role="button">Cancel</a>
		</form>
	</div>
</div>

